@keyframes grow {

  0%,
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  50% {
    -webkit-transform: scaleY(1.8);
    transform: scaleY(1.8);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(35%)
  }

  80% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fill {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}


@keyframes like {
  0% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    background-position-y: 25px;
  }

  100% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    background-position-y: 0;
  }
}


@keyframes opacity {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    z-index: 2;
    transform: rotate(0deg);
  }

  1% {
    opacity: 1;
  }

  99% {
    transform: rotate(360deg);
    opacity: 1;
  }

  100% {
    display: none;
    z-index: -1;
  }
}