@keyframes grow {

  0%,
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  50% {
    -webkit-transform: scaleY(1.8);
    transform: scaleY(1.8);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(35%)
  }

  80% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadein {
  from {}

  to {}
}

@keyframes fill {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}



@keyframes opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    z-index: 2;
    transform: rotate(0deg);
  }

  1% {
    opacity: 1;
  }

  99% {
    transform: rotate(360deg);
    opacity: 1;
  }

  100% {
    display: none;
    z-index: -1;
  }
}