@mixin card_menu {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;

  &:hover {
    padding-right: 75px;
  }

  &:hover .icon_anim {
    opacity: 1;
    transform: translate(-50px);
  }

  &:hover .fa-check-circle {
    transform: rotate(360deg);
  }
}

@mixin icon_anim {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-tertiary;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;

  & .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
  }
}



@mixin mobile {
  @media screen and (min-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: map-get($breakpoints, large)) {
    @content;
  }
}

