$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$linear-gradient: linear-gradient(to top, #9356dc, #b35cdc, #e86edb);
$fond-gris-footer: #353535;
$font-cursive: "Shrikhand", cursive;
