h1,
h6 {
  font-family: Shrikhand, Roboto, sans-serif;
}

h2 {
  color: dimgray;
  text-transform: uppercase;
  font-weight: 500;
  font-size: medium;
}

body,
html {
  font-family: "Roboto", sans-serif;
}