.card_stage {
    @include tablet {
        margin: 0.8rem 1rem 0.5rem 5%;
    }

    @include desktop {
        margin: 0.8rem 1rem 0.5rem 5%;
    }
}



.spin::after {
    @include tablet {
        left: 44%;
        top: 45%;
        height: 6rem;
        width: 6rem;
    }

    @include desktop {
        left: 48%;
        top: 48%;
        height: 6rem;
        width: 6rem;
    }
}

.navbar_restaurant a {

    @include tablet {
        margin: 0.5% 20% 0% 20%;
    }

    @include desktop {
        margin: 0.5% 0% 0% 20%;
    }
}

.stage1,
.stage2,
.stage3 {
    
    @include tablet {
        width:50%
    }
    @include desktop {
        width:33%;
    }
}

#Fonction {
    @include mobile {
        margin: 10% 0% 7% 4%;
    }



    @include desktop {
        margin: 5% 5% 5% 5%;
    }
}

.restaurant_title {
    @include mobile {
        margin: 0 0 0rem 0rem;
    }
    @include tablet{
        margin: 0 0 1rem 2rem;
    }
}

.card_restauration{
    @include mobile {
        width: 100%;
    }
    @include tablet {
        width: 45%;
    }
    @include desktop {
        width: 20%;
    }
    
}
.flexing{
    @include desktop {
        display: flex;
    }
}

.fonctionnement {
    @include mobile {
        margin: 2.5rem 0 1rem 3%;
    }
    @include desktop {
        margin: 2.5rem 0 1rem -4%;
    }
    
}

.extension{
    @include desktop {
        width: 30%;
        margin: 2rem 2rem 2rem 2rem;
    }
}
.wrapping_element{
    display: flex;
    flex-wrap: wrap;
}

#Restaurant {
    @include mobile {
        padding: 1rem 2rem 3rem 2rem;
    }


    @include desktop {
        padding: 3rem 0% 3rem 0%;
    }
}

#footer {
    @include mobile {
        margin: 0% 0% 0% 0%;
    }


    @include desktop {
        margin: 0% 0% 0% 0%;
    }
}