body {
  margin: 0;
  padding: 0rem 0rem;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h2 {
  margin: 0;
}

h6 {
  margin: 0;
}

h1,
h6 {
  font-family: Shrikhand, Roboto, sans-serif;
}

h2 {
  color: dimgray;
  text-transform: uppercase;
  font-weight: 500;
  font-size: medium;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

.card_menu {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.card_menu:hover {
  padding-right: 75px;
}
.card_menu:hover .icon_anim {
  opacity: 1;
  transform: translate(-50px);
}
.card_menu:hover .fa-check-circle {
  transform: rotate(360deg);
}

.line_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}

.line_description p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 1280px) {
  .line_description p {
    padding-right: 20px;
  }
}

.line_description span {
  margin-right: 5px;
}

.card_menu h4 {
  margin: 0;
}

.cover-spin {
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  animation: opacity 2s forwards;
}

.spin {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: opacity 2s;
  z-index: -5;
}

.spin::after {
  content: "";
  display: block;
  position: absolute;
  left: 40%;
  top: 45%;
  width: 5rem;
  height: 5rem;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 5px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
  z-index: -1;
  opacity: -5;
}

.card_menu:nth-child(1) {
  animation: up 3s ease-in-out 0.1s forwards;
}

.card_menu:nth-child(2) {
  animation: up 3s ease-in-out 0.6s forwards;
}

.card_menu:nth-child(3) {
  animation: up 3s ease-in-out 1.2s forwards;
}

.card_menu:nth-child(4) {
  animation: up 3s ease-in-out 1.8s forwards;
}

.icon_anim {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 50px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.icon_anim .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.footer_spacing {
  background-color: rgb(64, 64, 64);
  color: white;
}
.footer_spacing .listing {
  display: flex;
}
.footer_spacing .listing i {
  margin-right: 0.5rem;
}
.footer_spacing .listing .align-item {
  padding-top: 0.7rem;
}
.footer_spacing .list_footer {
  margin: 0;
}
.footer_spacing .list_footer > li {
  list-style-type: none;
  line-height: 1.5rem;
}
.footer_spacing a {
  color: white;
  text-decoration: none;
}
.footer_spacing p {
  margin: 0;
}

#Home {
  text-align: center;
}

#Restaurant {
  background-color: rgb(244, 239, 239);
  padding: 3rem 0% 3rem 10%;
}

@media screen and (min-width: 350px) {
  section {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  section {
    margin: 0 20% 0 20%;
  }
}
@media screen and (min-width: 1280px) {
  section {
    margin: 0 30% 0 30%;
  }
}

#Menu {
  height: 80%;
  background-color: #dcdcdc;
  z-index: 2;
}

.navbar .logo_Home {
  margin: 1rem 0;
  width: 40%;
  height: auto;
}

.navbar_restaurant {
  display: flex;
}
.navbar_restaurant a {
  position: absolute;
  top: 1.3rem;
  left: 2rem;
  color: black;
}
.navbar_restaurant .navbar {
  width: 100%;
}

.location_display {
  height: 3rem;
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0em 6px 6px -6px rgb(146, 146, 146);
}
.location_display i {
  margin-right: 1rem;
}

.presentation {
  padding: 1rem 0 2rem 0;
  background-color: rgb(247, 247, 247);
}
.presentation h1,
.presentation p,
.presentation span {
  margin: 1rem;
}
.presentation .primary_btn {
  margin: 0.3rem 0 1.7rem 0;
  padding: 0.8rem 0;
  width: 55%;
  height: 3rem;
  border-radius: 25px;
  background: linear-gradient(to top, #9356dc, #b35cdc, #e86edb);
  border: none;
  cursor: pointer;
  z-index: 50;
}
.presentation .primary_btn:hover {
  background: #a16be0;
  box-shadow: 0px 5px 5px rgb(194, 194, 194);
}
.presentation .primary_btn span {
  font-size: 1rem;
  color: white;
  text-align: center;
}

.fonctionnement {
  margin: 2.5rem 0 1rem 0;
}

.stage1,
.stage2,
.stage3 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.stage1 .card_stage:hover,
.stage2 .card_stage:hover,
.stage3 .card_stage:hover {
  background: rgba(146, 86, 220, 0.1647058824);
}
.stage1 .card_stage,
.stage2 .card_stage,
.stage3 .card_stage {
  background-color: rgb(240, 240, 240);
  height: 4.8rem;
  width: 90%;
  max-width: 90%;
  margin: 0.8rem 1rem 0.5rem 6%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 0px 15px 15px -5px rgb(214, 214, 214);
  cursor: pointer;
}
.stage1 .card_stage .number,
.stage2 .card_stage .number,
.stage3 .card_stage .number {
  position: absolute;
  top: 1.5rem;
  left: -1rem;
  width: 1.8rem;
  height: 1.8rem;
  padding-top: 0.4rem;
  text-align: center;
  background-color: #9356dc;
  border-radius: 50px;
  color: white;
}
.stage1 .card_stage i,
.stage2 .card_stage i,
.stage3 .card_stage i {
  position: absolute;
  top: 2.5rem;
  color: grey;
  left: 12%;
}
.stage1 .card_stage p,
.stage2 .card_stage p,
.stage3 .card_stage p {
  display: flex;
  align-items: center;
}

.restaurant_title {
  margin: 0 0 1rem 0;
}

.card_restauration {
  margin: 1rem 0;
  position: relative;
  max-width: 100%;
  max-height: 280px;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0px 10px 25px 1px rgb(189, 189, 189);
  cursor: pointer;
}
.card_restauration a {
  color: black;
}
.card_restauration .card_img {
  display: flex;
  max-width: 100%;
}
.card_restauration .card_img img {
  width: 100%;
  max-height: 180px;
  z-index: 0;
  object-fit: cover;
}
.card_restauration .card_img .new_label {
  position: absolute;
  top: 1rem;
  right: 0.9rem;
  background-color: #99e2d0;
  width: 6rem;
  height: 2rem;
  line-height: 0.1rem;
  padding-bottom: 0.5rem;
  border-radius: 0.2rem;
  z-index: 1;
}
.card_restauration .card_img .new_label p {
  text-align: center;
}
.card_restauration .card_description {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: default;
}
.card_restauration .card_description a {
  text-decoration: none;
}
.card_restauration .card_description .card_animated {
  cursor: pointer;
}

.grey {
  color: grey;
}

.lock:hover .icon-unlock,
.lock .icon-lock {
  display: none;
}

.lock:hover .icon-lock {
  animation: fill 1s;
  color: rgba(146, 86, 220, 0.7490196078);
  text-shadow: 0 0 3px #FF79DA, 0 0 3px #9356DC;
  display: inline;
}

.menu_img img {
  object-fit: cover;
  width: 100%;
  height: 20rem;
  z-index: 2;
}

.menu_display {
  background-color: #dcdcdc;
  width: 100%;
  height: 1000px;
  margin-top: -3rem;
  padding: 2rem 1rem 1rem 1.5rem;
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: rgb(243, 243, 243);
  position: relative;
  top: 25%;
  z-index: 5;
}
.menu_display .menu_title {
  display: flex;
}
.menu_display .menu_title h1 {
  margin: 0;
}
.menu_display .menu_title a {
  text-decoration: none;
  color: black;
  position: absolute;
  right: 3rem;
  top: 2.5rem;
}
.menu_display a {
  margin: auto;
}
.menu_display .btn_cmd {
  width: 250px;
  height: 3rem;
  border-radius: 20px;
  margin-top: 5%;
  padding-top: 1rem;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #e86edb);
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
}
.menu_display .btn_cmd:hover {
  background: #a16be0;
  box-shadow: 0px 5px 5px rgb(194, 194, 194);
}

.short_green {
  margin: 0.5rem 0 0.5rem 0;
  max-width: 50px;
  border: 2px solid #99e2d0;
  color: #99e2d0;
  text-align: left;
}

.price {
  display: flex;
  align-items: end;
}

.title_footer {
  font-family: "Shrikhand", cursive;
  color: rgba(255, 255, 255, 0.885);
  padding-bottom: 1rem;
  margin: 0;
}

.bolder_text {
  font-size: 1.7rem;
  font-weight: 600;
}

.bold_text {
  font-weight: 600;
}

@media screen and (min-width: 350px) {
  header {
    margin: 0% 0% 0% 0%;
  }
}
@media screen and (min-width: 768px) {
  header {
    margin: 0% 20% 0% 20%;
  }
}
@media screen and (min-width: 1280px) {
  header {
    margin: 0% 30% 0% 30%;
  }
}

@media screen and (min-width: 768px) {
  .card_stage {
    margin: 0.8rem 1rem 0.5rem 5%;
  }
}
@media screen and (min-width: 1280px) {
  .card_stage {
    margin: 0.8rem 1rem 0.5rem 5%;
  }
}

@media screen and (min-width: 768px) {
  .spin::after {
    left: 44%;
    top: 45%;
    height: 6rem;
    width: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .spin::after {
    left: 48%;
    top: 48%;
    height: 6rem;
    width: 6rem;
  }
}

@media screen and (min-width: 768px) {
  .navbar_restaurant a {
    margin: 0.5% 25% 0% 20%;
  }
}
@media screen and (min-width: 1280px) {
  .navbar_restaurant a {
    margin: 0.5% 35% 0% 30%;
  }
}

@media screen and (min-width: 768px) {
  #Restaurant {
    padding: 3rem 0rem 3rem 3rem;
  }
}
@media screen and (min-width: 1280px) {
  #Restaurant {
    padding: 3rem 5% 3rem 5%;
  }
}

@media screen and (min-width: 350px) {
  #Fonction {
    margin: 0% 0% 7% 4%;
  }
}
@media screen and (min-width: 768px) {
  #Fonction {
    margin: 0% 20% 7% 20%;
  }
}
@media screen and (min-width: 1280px) {
  #Fonction {
    margin: 5% 30% 5% 33%;
  }
}

@media screen and (min-width: 350px) {
  #footer {
    margin: 0% 0% 0% 0%;
  }
}
@media screen and (min-width: 768px) {
  #footer {
    margin: 0% 20% 0% 20%;
  }
}
@media screen and (min-width: 1280px) {
  #footer {
    margin: 0% 30% 0% 30%;
  }
}

@keyframes grow {
  0%, 100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1.8);
    transform: scaleY(1.8);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(35%);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fill {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    z-index: 2;
    transform: rotate(0deg);
  }
  1% {
    opacity: 1;
  }
  99% {
    transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    display: none;
    z-index: -1;
  }
}

/*# sourceMappingURL=main.css.map */
