@import "./Base/reset";
@import "./Base/typography";

@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/keyframes";
@import "./Utils/maps";



@import "./Layout/menu";

@import "./Components/menu-header";

// Identifiants sections

#Home {
    text-align: center;
}

footer{
    @include mobile {
        margin: 0% 0% 0% 0%;
    }

    @include tablet {
        margin: 0% 20% 0% 20%;
    }

    @include desktop {
        margin: 0% 30% 0% 30%;
    } 
}
#Fonction {
    @include mobile {
        margin: 0% 0% 7% 4%;
    }

    @include tablet {
        margin: 0% 20% 7% 20%;
    }

    @include desktop {
        margin: 5% 30% 5% 33%;
    }
}

#Restaurant {
    background-color: rgb(244, 239, 239);
    padding: 3rem 0% 3rem 10%;

    @include tablet {
        padding: 3rem 0rem 3rem 3rem;
    }

    @include desktop {
        padding: 3rem 0rem 3rem 3rem;
    }
}


section {
    @include mobile {
        margin: 0;
    }

    @include tablet {
        margin: 0 20% 0 20%;
    }

    @include desktop {
        margin: 0 30% 0 30%;
    }
}

#Menu {
    height: 80%;
    background-color: #dcdcdc;
    z-index: 2;

}

// Sections Home

.navbar {
    .logo_Home {
        margin: 1rem 0;
        width: 40%;
        height: auto;
    }
}

.navbar_restaurant {
    display: flex;

    a {
        @include tablet {
            margin: 0.5% 25% 0% 20%;
        }

        @include desktop {
            margin: 0.5% 35% 0% 30%;
        }
    }


    a {
        position: absolute;
        top: 1.3rem;
        left: 2rem;
        color: black;
    }

    .navbar {
        width: 100%;
    }
}

.location_display {
    height: 3rem;
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0em 6px 6px -6px rgb(146, 146, 146);

    i {
        margin-right: 1rem;
    }
}

.presentation {
    padding: 1rem 0 2rem 0;
    background-color: rgb(247, 247, 247);

    h1,
    p,
    span {
        margin: 1rem;
    }

    .primary_btn {
        margin: 0.3rem 0 1.7rem 0;
        padding: 0.8rem 0;
        width: 55%;
        height: 3rem;
        border-radius: 25px;
        background: $linear-gradient;
        border: none;
        cursor: pointer;
        z-index: 50;

        &:hover {
            background: lighten($color-primary, 5%);
        }

        span {
            font-size: 1rem;
            color: white;
            text-align: center;
        }
    }
}


// Section Fonction 

.fonctionnement {
    margin: 2.5rem 0 1rem 0;
}

.stage1,
.stage2,
.stage3 {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .card_stage:hover {
        background: #9256dc2a;
    }

    .card_stage {
        background-color: rgb(240, 240, 240);
        height: 4.8rem;
        width: 90%;
        max-width: 90%;
        margin: 0.8rem 1rem 0.5rem 6%;

        @include tablet {
            margin: 0.8rem 1rem 0.5rem 5%;
        }

        @include desktop {
            margin: 0.8rem 1rem 0.5rem 5%;
        }

        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 25px;
        box-shadow: 0px 15px 15px -5px rgb(214, 214, 214);
        cursor: pointer;

        .number {
            position: absolute;
            top: 1.5rem;
            left: -1rem;
            width: 1.8rem;
            height: 1.8rem;
            padding-top: 0.4rem;
            text-align: center;
            background-color: $color_primary;
            border-radius: 50px;
            color: white;
        }

        i {
            position: absolute;
            top: 2.5rem;
            color: grey;
            left: 12%;
        }

        p {
            display: flex;
            align-items: center;
        }
    }
}

// Section Restaurant

.restaurant_title {
    margin: 0 0 1rem 0;
}

.card_restauration {
    margin: 1rem 0;
    position: relative;
    max-width: 90%;
    max-height: 280px;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0px 10px 25px 1px rgb(189, 189, 189);
    cursor: pointer;

    a {
        color: black;
    }

    .card_img {
        display: flex;
        max-width: 100%;

        img {
            width: 100%;
            max-height: 180px;
            z-index: 0;
            object-fit: cover;
        }

        .new_label {
            position: absolute;
            top: 1rem;
            right: 0.9rem;
            background-color: $color_tertiary;
            width: 6rem;
            height: 2rem;
            line-height: 0.1rem;
            padding-bottom: 0.5rem;
            border-radius: .2rem;
            z-index: 1;

            p {
                text-align: center;
            }
        }

    }

    .card_description {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: default;

        a {
            text-decoration: none;
        }

        .card_animated {
            cursor: pointer;
        }
    }
}

.grey {
    color: grey;
}

.lock:hover .icon-unlock,
.lock .icon-lock {
    display: none;
}

.lock:hover .icon-lock {
    color: #9256dcbf;
    text-shadow: 0 0 3px#FF79DA, 0 0 3px #9356DC;
    display: inline;
}

// Footer 
.footer_spacing {
    padding: 1.5rem 0rem 2rem 0;
    background-color: rgb(64, 64, 64);
    color: white;

    .listing {
        display: flex;

        i {
            margin-right: 0.5rem;
        }

        .align-item {
            padding-top: 0.7rem;
        }
    }

    .list_footer>li {
        list-style-type: none;
        line-height: 1.5rem;
    }

    a {
        color: white;
        text-decoration: none;
    }

    p {
        margin: 0;
    }
}

//Section Menu
.menu_img img {
    object-fit: cover;
    width: 100%;
    height: 20rem;
    z-index: 2;
}



.menu_display {
    background-color: #dcdcdc;
    width: 100%;
    height: 1000px;
    margin-top: -3rem;
    padding: 2rem 1rem 1rem 1.5rem;
    border-radius: 2.5rem 2.5rem 0 0;
    background-color: rgb(243, 243, 243);
    position: relative;
    top: 25%;
    z-index: 5;

    .menu_title {
        display: flex;

        h1 {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
            position: absolute;
            right: 3rem;
            top: 2.5rem;
        }
    }

    a {
        margin: auto;
    }

    .btn_cmd {
        width: 250px;
        height: 3rem;
        border-radius: 20px;
        margin-top: 5%;
        padding-top: 1rem;
        background-image: $linear-gradient;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
    }
}

.short_green {
    margin: 0.5rem 0 0.5rem 0;
    max-width: 50px;
    border: 2px solid $color_tertiary;
    color: $color_tertiary;
    text-align: left;
}

.price {
    display: flex;
    align-items: end;
}

// Classes textes

.title_footer {
    font-family: 'Shrikhand', cursive;
    color: rgba(255, 255, 255, 0.885);
    padding-bottom: 1rem;
}

.bolder_text {
    font-size: 1.7rem;
    font-weight: 600;
}

.bold_text {
    font-weight: 600;
}

.cover-spin {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: opacity 2s;
    display: inline-block;
}


.spin {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: opacity 2s;
    z-index: -5;
}

.spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 5px;
    border-radius: 50%;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
    z-index: -1;
    opacity: -5;
}