@import "../Utils/_mixins";

.card_menu{
    @include card_menu;
}
.line_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5em;
  }
  .line_description p {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @include desktop {
      padding-right: 20px;
    }
  }
  .line_description span {
    margin-right: 5px;
  }
  .card_menu h4 {
    margin: 0;
  }